.pt-cards{
    display: flex;
    margin-left: 20vh;
    margin-right: 20vh;
    background-color: rgb(205, 205, 205);
    padding: 5vh;
    margin-bottom: 15vh;
}
.cards-big{
    background-color: rgb(7, 189, 189);
    color: white;
    width: 350px;
    height: 300px;
    padding: 15px;
    
}
.cards-big input{
    background-color: rgba(255, 255, 255, 0.355);
    color: white;
    border: none;
    border-radius: 20px;
    align-items: center;
    text-align: center;
}
.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin: 15px;
    width: 270px;
    padding: 15px;
}