.Caroussel3{
    background-color: rgb(196, 195, 195);
    padding-left: 20vh;
    padding-right: 20vh;
    padding-bottom: 5vh;
}

.gallery1{
    background-image: url("../../../public/img/gallery/gallery-1.jpg");
    width : 250px;
    height : 150px;
    background-position : center;
    background-size: cover;
    
}
.gallery2{
    background-image: url("../../../public/img/gallery/gallery-2.jpg");
    width : 250px;
    height : 150px;
    background-position : center;
    background-size: cover;
    
}
.gallery3{
    background-image: url("../../../public/img/gallery/gallery-3.jpg");
    width : 250px;
    height : 150px;
    background-position : center;
    background-size: cover;
    
}
.gallery4{
    background-image: url("../../../public/img/gallery/gallery-4.jpg");
    width : 250px;
    height : 150px;
    background-position : center;
    background-size: cover;
    
}
.gallery5{
    background-image: url("../../../public/img/gallery/gallery-5.jpg");
    width : 250px;
    height : 150px;
    background-position : center;
    background-size: cover;
    
}
.gallery6{
    background-image: url("../../../public/img/gallery/gallery-6.jpg");
    width : 250px;
    height : 150px;
    background-position : center;
    background-size: cover;
    
}
.gallery7{
    background-image: url("../../../public/img/gallery/gallery-7.jpg");
    width : 250px;
    height : 150px;
    background-position : center;
    background-size: cover;
    
}
.gallery8{
    background-image: url("../../../public/img/gallery/gallery-8.jpg");
    width : 250px;
    height : 150px;
    background-position : center;
    background-size: cover;
    
}

