.Caroussel2{
    padding-left: 20vh;
    padding-right: 20vh;
}
.event1{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("../../../public/img/events-1.jpg");
    background-position: center;
    color: white;
    height: 450px;
    width: 350px;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.event2{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("../../../public/img/events-2.jpg");
    background-position: center;
    color: white;
    height: 450px;
    width: 350px;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    
}
.event3{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("../../../public/img/events-3.jpg");
    background-position: center;
    color: white;
    height: 450px;
    width: 350px;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    
}
.splide{
    margin: 50px;
}

.wrap{
    display: flex;
    max-width: 1200px;
    position: relative;
}
.wrap i{
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}
.wrap i:active{
    transform: translateY(-50%) scale(0.9);
}
.wrap i:hover{
    background: #f2f2f2;
}
.wrap i:first-child{
    left: -22px;
    display: none;
}
.wrap i:last-child{
    right: -22px;
}
.wrap .carou{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}
.carou.dragging{
    cursor: grab;
    scroll-behavior: auto;
}
.carou.dragging .cards-carou{
    pointer-events: none;
}
.carou .cards-carou{
    height: 340px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 3);
}

.carou .cards-carou:first-child{
    margin-left: 0px;
}
@media screen and (max-width: 900px) {
    .carou .cards-carou{
    width: calc(100% / 2);
    }
}
@media screen and (max-width: 550px) {
    .carou .cards-carou{
    width: 100%;
    }
}