.Caroussel1{
    margin-bottom: 15vh;
}


.splide{
    background-color: rgb(208, 206, 206);
    padding: 20vh;
}
.splide__slide{
    display: flex;
    justify-content: space-around;
    padding: 5vh;
    
}
.splide__slide img{
    width: 100px;
    border-radius: 55%;
}
.splide__slide div{
    width: 700px;
}
