.pt-chefs{
    background-color: rgb(202, 200, 200);
    padding-top: 5vh;
    margin-bottom: 15vh;
}


.chefs-cards{
    display: flex;
    justify-content: space-around;
    margin-left: 20vh;
    margin-right: 20vh;
    padding: 5vh;
}

.box img{
    width: 100%;
    --mask:
    radial-gradient(32.81px at 50% calc(100% - 46.25px),#000 99%,#0000 101%) calc(50% - 50px) 0/100px 100%,
    radial-gradient(32.81px at 50% calc(100% + 21.25px),#0000 99%,#000 101%) 50% calc(100% - 25px)/100px 100% repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
    border-radius: 5px;
}

.chefs{
    background-color: white;
    width: 350px;
    border-radius: 5px;
    transition: 1s;
}
.chefs:hover{
    -ms-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(1.1);
}
.txt-chefs{
    text-align: center;
    padding: 10px;
}
.txt-chefs p{
    color: grey;
    font-style: italic;
}