.dark{
    background-color: black;
    color: white;
}
.dark .navbar{
    background-color: black;
}
.dark header{
    background-color: black;
    color: white;
}
.dark .btn2-header{
    color: white;
}
.dark .para-about h5{
    color: black;
}
.dark .cards{
    background-color: rgb(42, 42, 42);
    color: rgb(255, 255, 255);
}
.dark .pt-cards{
    background-color: black;
}
.dark .carte button{
    color: white;
}
.dark .carte button:hover{
    color: rgb(3, 158, 158);
}
.dark .pt-chefs{
    background-color: black;
}
.dark .txt-chefs p{
    color: black;
}
.dark .txt-chefs {
    color: black;
}
.dark .Caroussel1{
    background-color: black;
}
.dark .book{
    background-color: rgb(42, 42, 42);
}
.dark .Caroussel3{
    background-color: black;
}

.dark .mini-co{
    background-color: black;
}
.dark .info-contact{
    background-color: rgb(36, 36, 36);
}