footer{
    background-color: rgb(29, 28, 28);
    color: white;
    padding: 5vh;
}
.info-footer{
    display: flex;
    justify-content: space-around;
    padding: 2vh;
}
.info{
    display: flex;
}
.info i{
    margin: 5px;
}
.copy{
    display: flex;
    justify-content: center;
}
.copy span{
    margin-left: 3px;
    margin-right: 3px;
}
.info ul{
    display: flex;
    list-style: none;
    padding: 0;
}
.info ul li{
    margin: 10px;
    border: 1px solid white;
    border-radius: 50%;
}