.navbar{
    display: flex;
    justify-content: space-around;

}
.titre-nav span{
    color: aqua;
}
.nav ul{
    display: flex;
    text-decoration: none;
}
.nav ul li{
    margin: 10px;
    list-style: none;
}
.navbar input{
    background-color: rgb(11, 213, 213);
    border: none;
    border-radius: 20px;
    color: white;
    height: 40px;
    width: 145px;
}